@font-face {
  font-family: 'Oi';
  src: local('Oi'), url(./Fonts/Oi-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'SquadaOne';
  src: local('SquadaOne'), url(./Fonts/SquadaOne-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.carousel-text {
  font-family: SquadaOne;
  color: white;
}

.center-navbar {
  width:30%;
  margin: auto;
  font-family: SquadaOne;
}

.center-navbar-links {
  margin: 10%;
  color: black;
  font-size: 20px;
}

.header {
  background-color: black;
  color:whitesmoke;
  font-family: SquadaOne;
}

.nav-container {
  color:black;
  background-color:whitesmoke;
}

.logo {
  width:20%;
  height:20%;
}

.logo-text {
  color: black;

}

.middle-container {
  padding : 5%;

}

.middle-container-items {
  width:50%;
  height:50%;
  margin: auto;
}

.middle-container-items-title {
  font-family : SquadaOne;
  color: black;
}


.shop-items {
  font-family : SquadaOne;

}

.footer-link {
  color: white;
}

.aboutus-text {
  font-family: SquadaOne;
}

.plus-minus-rider {
  display: flex;
  justify-content: space-around;

}

.aboutus-img {
  margin:auto;
  font-family: SquadaOne;
}

